<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <title>Games</title>
  </head>
  <body class="fundo">
    <header class="header" id="myHeader">
      <a href="/register">Registro</a>
    </header>
    <!-- <img class="footer-image" src="../public/image/city.png" alt="cic" /> -->

    <section class="container m-5"><%- body %></section>

    <footer>
      <div class="footer-line p-2">
        <a href="/">
          <img src="..\public\image\home2.png" alt="" />
        </a>
        
      </div>
    </footer>
    <script>
      
    </script>
  </body>
</html>
